#screenshotArea {
    border: 2px dashed #444;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    cursor: crosshair;
}

#confirmButton {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#confirmButton:hover {
    background-color: #45a049;
}